Package: com.shepgoba.downloadbar13
Name: DownloadBar13
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Show a progress bar for downloading apps instead!
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
